* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

html, body {
  height: 100%;
}

.bodypd {
  background-color: #c0ddff;
  padding: 20px 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #2b2b2b;
}

header {
  background-color: #23517e;
  color: #ffffff;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
}

.logo {
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align:center
}

.telefono {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  background-color: #eaf4ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

nav a:hover {
  background-color: #cfe7ff;
  padding: 18px 0;
}

.portada {
  flex: 1;
  min-height: 60vh;
  background-image:
    linear-gradient(rgba(0, 70, 160, 0.55), rgba(0, 70, 160, 0.55)),
    url("imagenes/portada.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto-portada {
  color: #ffffff;
  padding: 20px 30px;
}

.texto-portada h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.texto-portada p {
  font-size: 24px;
  font-weight: 500;
}

footer {
  background-color: #3277bc;
  color: #ffffff;
  text-align: center;
  padding: 18px;
  font-size: 15px;
  margin-top: auto;
}

.imagen-productos {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.imagen-productos img {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  cursor: pointer;
}

.titulo-catalogo {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.categoria {
  text-decoration: none;
  color: black;
  text-align: center;
}

.categoria img {
  width: 60%;
  height: 150px;
  border: 3px solid #4b89c7;
  border-radius: 10px;
}

.categoria p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.bloque-catalogo {
  margin: 60px auto;
  max-width: 1100px;
  padding: 0 20px;
}

.bloque-catalogo h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 2px solid #4b89c7;
  border-radius: 10px;
}

.producto p {
  margin-top: 8px;
  font-weight: 600;
}

.imagen-servicios,
.imagen-productos {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.imagen-servicios img,
.imagen-productos img {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
}

.titulo-servicios,
.titulo-catalogo {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.bloque-catalogo,
.contenido-servicios {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.servicio-bloque,
.bloque-catalogo h2 {
  margin-bottom: 30px;
}

.servicio-bloque h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.grid-2,
.grid-3,
.grid-4,
.grid-productos {
  display: grid;
  gap: 25px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-productos {
  grid-template-columns: repeat(3, 1fr);
}

.item,
.producto {
  text-align: center;
  text-decoration: none;
  color: black;
}

.item img,
.producto img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border: 2px solid #4b89c7;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  outline: none;
  border-style: solid;
}

.item:hover img,
.producto:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.item p,
.producto p {
  margin-top: 8px;
  font-weight: 600;
}

.bloque-color {
  background-color: #d0d7eb;
  display: flex;
  justify-content: center;
  padding: 0;
}

.imagen-servicios {
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 10px;
}

.contenido-servicios {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.titulo-servicios {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.ubicacion {
  padding: 40px;
  text-align: center;
}

.ubicacion h2 {
  margin-bottom: 30px;
}

.ubicacion-contenido {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-local {
  width: 550px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.info-ubicacion {
  max-width: 350px;
  text-align: left;
}

.info-ubicacion p {
  margin-bottom: 15px;
}

.btn-maps,
.btn-whatsapp {
  display: block;
  margin-bottom: 15px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}

.btn-maps {
  background: #4285f4;
}

.btn-whatsapp {
  background: #25d366;
}

.inicio-contenido {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  display: block;
}

.hero {
  height: 50vh;   /* ← AQUÍ ESTÁ LA SOLUCIÓN */
  margin: 20px;
  border-radius: 14px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: sliderHero 12s infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes sliderHero {
  0% {
    background-image: url("imagenes/bazar.png.jpeg");
  }
  33% {
    background-image: url("imagenes/tienda.png.jpeg");
  }
  66% {
    background-image: url("imagenes/productos.png.jpeg");
  }
  100% {
    background-image: url("imagenes/anuncio.png.jpeg");
  }
}

.hero-texto {
  background: rgba(0, 0, 0, 0.55);
  padding: 30px 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.hero-texto h1 {
  font-size: 56px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.hero-texto p {
  font-size: 22px;
}

.descripcion {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  font-size: 18px;
  line-height: 1.8;
  text-align: justify;

  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.bodyct {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.catalogo-seccion {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.catalogo-seccion h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 26px;
  margin: 30px 0 20px;
  border-left: 6px solid #4b89c7;
  padding-left: 15px;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.producto {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.producto h4 {
  margin: 12px 0 5px;
  font-size: 18px;
}

.producto p {
  font-size: 14px;
  color: #555;
}

.precio {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #4b89c7;
}

.pagina-pagos {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.servicio-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  border: 2px solid #4b89c7;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicio-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.servicio-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4b89c7;
}

.servicio-card p {
  font-size: 16px;
  line-height: 1.5;
}

.servicio-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.pagina-pagos {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.titulo-principal {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.operador {
  text-align: center;
  margin-bottom: 60px;
  padding: 30px;
  border: 2px solid #4b89c7;
  border-radius: 12px;
  background-color: #f7f9ff;
}

.operador img {
  width: 160px;
  margin-bottom: 20px;
}

.operador h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #4b89c7;
}

.operador p {
  font-size: 16px;
  margin: 6px 0;
}

.subtitulo {
  margin-top: 18px;
  font-weight: 700;
  color: #333;
}

.operador {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.operador:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.img-producto {
  position: relative;
  overflow: hidden;
}

.img-producto img {
  width: 100%;
  display: block;
  transition: opacity 0.4s ease;
}

.img-producto img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.producto:hover .img-producto img:nth-of-type(2) {
  opacity: 1;
}

.producto:hover .img-producto img:nth-of-type(1) {
  opacity: 0;
}
.grid-bazar { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin-bottom: 20px; }
.categoria-bazar h3 { background: #00468b; color: white; padding: 5px; border-radius: 5px; }
.item-pedido { display: flex; justify-content: space-between; padding: 8px; border-bottom: 1px solid #eee; align-items: center; font-size: 0.9em; }
.item-pedido button { background: #25d366; border: none; color: white; border-radius: 50%; width: 30px; height: 30px; cursor: pointer; }
.caja-carrito { background: #f9f9f9; border: 2px solid #00468b; padding: 15px; border-radius: 10px; position: sticky; bottom: 10px; }
.total-final { font-size: 1.5em; font-weight: bold; color: #00468b; }
.boton-wa { background: #25d366; color: white; border: none; width: 100%; padding: 12px; border-radius: 5px; font-weight: bold; font-size: 1.1em; cursor: pointer; }

.contenedor-nosotros {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.marco-foto {
  
    display: inline-block; 
    border: 8px solid #00468b;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);


}

.foto-grupal {
    
    display: block;
    height: auto;
    width: 100%; 
}

.nombres-autores {
    background: #f0f7ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.nombres-autores ul {
    list-style: none;
    padding: 0;
}

.nombres-autores li {
    font-size: 1.1em;
    margin: 10px 0;
    color: #00468b;
}

.informacion-extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
}

.bloque-info {
    background: #fff;
    padding: 15px;
    border-left: 5px solid #25d366; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.bloque-info h3 {
    margin-top: 0;
    color: #00468b;
}

@media (max-width: 600px) {
    .informacion-extra {
        grid-template-columns: 1fr;
    }
}

.boton-regresar-fijo {
    position: fixed !important; 
    bottom: 40px !important;
    right: 40px !important;
    display: block !important; 
    
    width: auto;
    height: auto;
    background-color: #1c3b9a; 
    color: white !important;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    z-index: 999999; 
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
.grid-bazar { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin-bottom: 20px; }
.categoria-bazar h3 { background: #00468b; color: white; padding: 5px; border-radius: 5px; }
.item-pedido { display: flex; justify-content: space-between; padding: 8px; border-bottom: 1px solid #eee; align-items: center; font-size: 0.9em; }
.item-pedido button { background: #25d366; border: none; color: white; border-radius: 50%; width: 30px; height: 30px; cursor: pointer; }
.caja-carrito { background: #f9f9f9; border: 2px solid #00468b; padding: 15px; border-radius: 10px; position: sticky; bottom: 10px; }
.total-final { font-size: 1.5em; font-weight: bold; color: #00468b; }
.boton-wa { background: #25d366; color: white; border: none; width: 100%; padding: 12px; border-radius: 5px; font-weight: bold; font-size: 1.1em; cursor: pointer; }

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.producto-card {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.producto-card h4 { margin: 0 0 10px 0; color: #00468b; }

.producto-card button {
    background: #00468b;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.carrito-pedido {
    background: #f9f9f9;
    padding: 20px;
    border: 2px solid #00468b;
    border-radius: 15px;
}

.btn-whatsapp {
    background: #25d366;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

/* SECCIÓN PRODUCTOS */
.productos-contenedor {
  max-width: 1400px;
  margin: 60px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  align-items: start;
}

.productos-contenedor .imagen-productos img {
  width: 190%;
  max-width: 500px;
  border-radius: 15px;
  max-height: 420px;
  object-fit: cover;
}

.catalogo-lateral .titulo-catalogo {
  text-align: center;
  margin-bottom: 20px;
}

/* SECCIÓN Alimentos y Snacks */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 25px;
  border-radius: 15px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.modal-contenido img {
  width: 150px;
  margin: 15px 0;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/*EQUIPO DE DESARROLLO*/

.equipo-desarrollo {
  max-width: 1100px;
  margin: 15px auto;
  text-align: center;
}

.equipo-desarrollo h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #222;
}

.grid-equipo {
  display: grid;
  grid-template-columns: repeat(3, 280px); 
  gap: 40px;
  justify-content: center; 
  margin: 40px auto 0 auto; 
}

.miembro {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.miembro:hover {
  transform: translateY(-8px);
}

.miembro img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid #1e4f7a;
}

.miembro h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #1e4f7a;
}

@media (max-width: 900px) {
  .grid-equipo {
    flex-direction: column;
    align-items: center;
  }
}
